.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-200 {
  width: 200px !important;
}
.txtbox {
  text-align: center !important;
  height: 44px !important;
  width: 200px !important;
  font-size: 1.3rem !important;
}
.txtbox:focus {
  outline: none;
}
