.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-200 {
  width: 200px !important;
}
.txtbox {
  text-align: center !important;
  height: 44px !important;
  width: 200px !important;
  font-size: 1.3rem !important;
}
.txtbox:focus {
  outline: none;
}

/* .cust input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid indigo;
  -webkit-box-shadow: 0 1px 0 0 indigo;
  box-shadow: 0 1px 0 0 indigo;
} */
